{% extends 'planner_app/base_template.html' %}


{% block content %}
<h1>Assignment Name: {{ assignment.title }}</h1>


<p><strong>Course:</strong> {{ assignment.course }}</p>
<p><strong>Deadline:</strong> {{ assignment.deadline }}</p>
<p><strong>Priority:</strong> {{ assignment.priority }}</p>

<a class="btn btn-primary" href="{% url 'update_assignment' assignment.id %}" role="button">Update Assignment</a>
<a class="btn btn-primary" href="{% url 'delete_assignment' assignment.id %}" role="button">Delete Assignment</a>
{% endblock %}
