{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
        .smaller-image {
            max-width: 150px; /* Adjust the maximum width as needed */
            height: auto; /* Maintain the image's aspect ratio */
        }
    </style>
<head>
    <title>My Planner</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- Add a CSS class to control image size -->
            <img class="smaller-image" src="{% static 'images/myplanner2.gif' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'assignments' %}">Assignments</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}
    
    {% endblock %}
</div>
</body>
</html>